.resp_{
    padding-top: 15px;
    padding-bottom: 15px;
}

.correo{
    text-align: center;
 }

          
 .social_icons{
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    right: 0;
    float: none;
}

#quien_soy img{ 
    margin-bottom: 75px;
}