.resp_{
    padding-top: 15px;
    padding-bottom: 15px;
}

.correo{
    text-align: center;
 }

          
 .social_icons{
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    right: 0;
    float: none;
}

.navbar-header{
  padding-bottom: 10px;
}



.logo_nav{
    position: absolute;
}

#quien_soy img{ 
    margin-bottom: 75px;
}