.seccion-mis-servicios{
    padding: 60px;
    margin-bottom: 30px;
    color: inherit;

    &.container-fluid{
        padding: 0;
    }

    .box{
        padding: 80px 0;
        margin-bottom: 0;
        background: rgba(152, 167, 179, .75);
    }

    h1{
        text-shadow: 1px 2px 2px $rippley-color-1;
    }

    h2{
    color: $rippley-color-1;
    }

    p{
    margin-bottom: 15px;
    font-weight: 200;
    color: $rippley-color-1;
    }

    .icono-servicio {
        width: 10rem;
        height: 10rem;
        line-height: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        border-radius: 10rem;
        background: #f6f6f8;
        border: solid .0625rem #d9d9e2;
        text-align: center;
    }

    .jumbotron{
        padding: 0;
    }
}